<% unless pictures.blank? %>
  <div id="picture-carousel" class="clearfix">
    <% pictures.each do |p| %>
    <dl class="picture <%= 'selected' if p == picture %>">
      <dd class="thumb"><%= link_to image_tag(p.thumb.authenticated_s3_url), picture_path(p, :page => params[:page]) %></dd>
      <dt class="desc"><%= p.created_at.strftime("%B %d, %Y") %></dt>
    </dl>
    <% end %>
  </div>
    <div class="pagination clearfix">
      <% if pictures.previous_page %>
        <%= link_to "&laquo; Previous", picture_path(p, :page => pictures.previous_page), :class => "prev_page", :rel => "prev" %>
      <% else %>
        <span class="disabled prev_page">&laquo; Previous</span> 
      <% end %>
      
      <% if pictures.next_page %>
        <%= link_to "Next &raquo;", picture_path(p, :page => pictures.next_page), :class => "next_page", :rel => "next" %>
      <% else %>
        <span class="disabled next_page">Next &raquo;</span> 
      <% end %>
    </div>
<% end %>