<div class="preview"><%= image_tag(picture.authenticated_s3_url) %></div>
<div class="panel">
  <div class="about"><%= picture.created_at.strftime("%B %d, %Y at %I:%M%p") %></div>
  <div class="options">
    <%= link_to("&#171; Go to Camera", home_path, :class => "back") unless Picture.already_taken_today?(facebook_user.id) %> 
    
    <fb:dialog id="delete_picture_dialog_<%= picture.id %>" cancel_button=1>
      <fb:dialog-title>Delete Picture</fb:dialog-title>
      <fb:dialog-content>
        Are you sure you want to delete this picture? <%= 'You cannot retake it again.' unless picture.taken_today? %>
      </fb:dialog-content>
      <fb:dialog-button type="submit" value="Yes" href="<%= destroy_picture_path(@picture) %>" />
    </fb:dialog>

    <a href="#" clicktoshowdialog="delete_picture_dialog_<%= picture.id %>" title="Delete Picture" class="delete"><%= image_tag "http://stage.pseudothinker.com/images/delete.gif", :alt => "Delete Picture" %></a>
  </div>
</div>