<div id="picture-frame">
  <%= render :partial => "picture", :locals => {:picture => @picture, :next_picture => @next_picture} %>
</div>

<div class="pagination-inline">
  <%= link_to "&laquo; Older Picture", picture_path(@prev_picture) if @prev_picture %>
  <%= link_to "Newer Picture &raquo;", picture_path(@next_picture) if @next_picture %>
</div>

<div class="picture-actions clearfix">
  <div class="wall-and-form">
    <fb:wall>
      <%= render :partial => 'comments/comment', :collection => @picture.comments %>
    </fb:wall>
    <%= render :partial => 'comments/form', :locals => {:picture_id => @picture.id} %>
  </div>
  
  <% if @picture.fb_user_id == facebook_user.id %>
  <fb:dialog id="delete_picture_dialog_<%= @picture.id %>" cancel_button=1>
    <fb:dialog-title>Delete Picture</fb:dialog-title>
    <fb:dialog-content>
      Are you sure you want to delete this picture? <%= 'You cannot retake it again.' unless @picture.taken_today? %>
    </fb:dialog-content>
    <fb:dialog-button type="submit" value="Yes" href="<%= destroy_picture_path(@picture) %>" />
  </fb:dialog>
  <% end %>
  <ul class="more-options">
    <li class="share">
      <fb:share-button class="meta"> 
        <meta name="medium" content="photo"/> 
        <meta name="title" content="A Picture Everyday"/> 
        <link rel="image_src" href="<%= @picture.thumb.authenticated_s3_url %>"/> 
        <link rel="target_url" href="http://apps.facebook.com/apictureeveryday/pictures/<%= @picture.id %>"/> 
      </fb:share-button>
    </li>
    <li>View More Pictures</li>
    <li><a href="#" clicktoshowdialog="delete_picture_dialog_<%= @picture.id %>" title="Delete Picture" class="delete">Delete Picture</a></li>
  <% end %>
  </ul>
</div>