<% render :layout => "frame" do %>
  <div class="preview"><%= image_tag(@picture.authenticated_s3_url) %></div>
  
  <div class="panel">
    <div class="date"><%= @picture.taken_today? ? "Today" : @picture.created_at.strftime("%B %d, %Y") %></div>
    <div class="options">
      <% if Picture.already_taken_today?(facebook_user.id) %>
        <%= link_to "&#171; Go to Camera", home_url, :class => "switch" %> 
      <% end %>
      
      <%= link_to "Delete Picture#{' / Retake' if @picture.taken_today?}", picture_path(@picture), :class => "delete", :method => :delete, :confirm => "Are you sure you want to delete this picture?" %>
    </div>
  </div>
<% end %>

<%= render_pictures @pictures %>